body{
  background: #111;
}
.snowflake{
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  /* animation: fall 10s linear; */
}

@keyframes fall{
  from{}
  to{
    transform: translateY(100vh);
    opacity: 0;
  }
}
